<?xml version="1.0" encoding="utf-8"?>

<launch>

<!--=================================e2box_AHRS=========================-->
  <node pkg="e2box_imu" type="e2box_imu_node" name="e2box_imu_node" output="screen">
    <param name="port" type="string" value="/dev/imu" />
    <param name="baudrate" type="int" value="115200" />
  </node>

<!--=================================e2box_AHRS V5=========================-->
  <node pkg="planner_and_control" type="imu_parse.py" name="imu_raw" respawn="true"/>
  
<!--=================================GNSS_Parsing=========================-->
  <node pkg="planner_and_control" type="gps_parse.py" name="Gngga_parse"   respawn="true"/>
  <node pkg="planner_and_control" type="local.py" name="Localization"  respawn="true" output="screen"/>

<!--=================================NTRIP CLIENT=========================-->
 <node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="screen">
 	 <param name="rtcm_topic" value="/rtcm"/>
 	 <param name="ntrip_server" value="vrs3.ngii.go.kr:2101"/>
 	 <param name="ntrip_user" value="dktkaprk0"/>
 	 <param name="ntrip_pass" value="ngii"/>
 	 <param name="ntrip_stream" value="VRS-RTCM31"/>
 	 <param name="nmea_gga" value="$GPGGA,024539.902,3725.1148,N,12641.1118,E,1,12,1.0,0.0,M,0.0,M,,*60"/>
  </node>


<!--PARAMETER-->
  <rosparam command="load" file="$(find planner_and_control)/config/base_params.yaml"/>
  
</launch>
