<?xml version="1.0" encoding="utf-8"?>

<launch>
  <node name="Sensors_simul" pkg="planner_and_control" type="sensors_simul.py"/>
  <node name="Localization" pkg="planner_and_control" type="localization_simul.py" respawn = "true"/>
 
  <node name="Mission_Planner" pkg="planner_and_control" type="mission_planner.py" respawn = "true"/>
  <node name="Behavior_Planner" pkg="planner_and_control" type="behavior_planner.py" respawn = "true"/>
  <node name="Motion_Planner" pkg="planner_and_control" type="motion_planner.py" args="songdo_fin" output = "screen"  respawn = "true"/>
  <node name="Serial_IO" pkg="planner_and_control" type="serial_io.py" respawn = "true"/>
</launch>
